@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --font-poppins: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


                /* HERO SECTION */

.hero{
  background-image: url(../app/public/hero.png);
  width: 1420px;
  height: 716.83px;
  position: relative;
  background-size: cover;
  background-position: center;
}


            /* SHOP HERO */
.hero2{
  background-image: url(../app/public/ShopHero.png);
  width: 1440px;
  height: 316px;
  position: relative;
  background-size: cover;
  background-position: center;
}